NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBnhCVoSdQbMmTfZuFaNiZVMD5AUN6vwwU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=insta-d7fe4.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=insta-d7fe4
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=insta-d7fe4.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=378049631861
NEXT_PUBLIC_FIREBASE_APP_ID=1:378049631861:web:82a22deb945f6b28368a3c
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-NT0JN6X46W

# Apple Music Integration
# Apple Music uses the iTunes Search API which is free and doesn't require authentication
